@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
button,
input[type="submit"] {
  -webkit-font-smoothing: antialiased;
  background-color: #477DCA;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none; }
  button:hover,
  input[type="submit"]:hover {
    background-color: #2c5999;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #477DCA;
  text-decoration: none; }
  a:hover {
    color: #2c5999; }
  a:active, a:focus {
    color: #2c5999;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1rem;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus {
    border-color: #477DCA;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

body {
  padding: 0;
  margin: 0;
  color: #464a4c;
  font-weight: 300; }

@media screen and (min-width: 75em) {
  html {
    font-size: 16px; } }
@media screen and (min-width: 82.5em) {
  html {
    font-size: 18px; } }
@media screen and (min-width: 64em) and (max-width: 75em) {
  html {
    font-size: 16px; } }
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  html {
    font-size: 16px; } }
@media screen and (max-width: 40em) {
  html {
    font-size: 14px; } }

#wrapper {
  overflow: hidden; }

.container, .wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 100%;
  min-height: 100%; }
  .container::after, .wrapper::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 64em) and (max-width: 75em) {
    .container, .wrapper {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto; }
      .container::after, .wrapper::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .container, .wrapper {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto; }
      .container::after, .wrapper::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (max-width: 40em) {
    .container, .wrapper {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .container::after, .wrapper::after {
        clear: both;
        content: "";
        display: table; } }

.button-container {
  text-align: center; }

.small.button {
  text-transform: uppercase;
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 600;
  font-size: 1.125em;
  line-height: 36px;
  height: 36px;
  padding: 0 1em;
  display: inline-block;
  border-radius: 3px; }

.medium.button {
  text-transform: uppercase;
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 48px;
  height: 48px;
  padding: 0 1em;
  display: inline-block;
  border-radius: 5px; }

.button.big {
  text-transform: uppercase;
  font-family: "proxima-nova-soft", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 1.875em;
  line-height: 64px;
  height: 64px;
  padding: 0 1em;
  display: inline-block;
  border-radius: 5px; }

.button.green {
  color: #fff;
  background: white; }
  .button.green:hover {
    background: #f2f2f2; }

.button.white {
  color: #a1a5a8;
  background: white; }
  .button.white:hover {
    background: #f2f2f2; }

@media all {
  .page-break {
    display: none; } }
@media print {
  .page-break {
    display: block;
    page-break-before: always; } }
#menu-link {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 50px;
  right: 50px;
  background: #5a6268 url(../img/menu.svg) no-repeat center center;
  background-size: cover;
  z-index: 5000;
  cursor: pointer;
  border-radius: 100%;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  transition: 0.5s all; }
  #menu-link:hover {
    background-color: #4e555a;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all; }

nav#main {
  position: absolute;
  left: 50%;
  bottom: 50px;
  height: 50px;
  width: 1200px;
  margin-left: -600px;
  z-index: 5000;
  background: #fff; }
  nav#main #date-time {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    line-height: 50px;
    color: #a1a5a8;
    padding: 0;
    float: left; }
  nav#main ul {
    float: right;
    text-align: right; }
    nav#main ul li {
      display: inline-block;
      margin-left: 30px; }
      nav#main ul li a {
        display: block;
        text-transform: uppercase;
        font-size: 1em;
        line-height: 50px;
        color: #a1a5a8;
        padding: 0px;
        text-decoration: underline; }

#first {
  position: relative;
  background: white;
  z-index: 2000; }
  @media screen and (min-width: 75em) {
    #first #illustration {
      position: absolute;
      top: 50%;
      right: 50%;
      -webkit-transform: translate(-100px, -50%);
      -moz-transform: translate(-100px, -50%);
      -ms-transform: translate(-100px, -50%);
      -o-transform: translate(-100px, -50%);
      transform: translate(-100px, -50%);
      margin-top: 50px; } }
  @media screen and (min-width: 64em) and (max-width: 75em) {
    #first #illustration {
      position: absolute;
      top: 50%;
      right: 50%;
      -webkit-transform: translate(-100px, -50%);
      -moz-transform: translate(-100px, -50%);
      -ms-transform: translate(-100px, -50%);
      -o-transform: translate(-100px, -50%);
      transform: translate(-100px, -50%);
      margin-top: 50px; } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #first #illustration {
      position: absolute;
      top: 40%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }
  @media screen and (max-width: 40em) {
    #first #illustration {
      position: absolute;
      top: 33%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 50px; } }
  #first #illustration #badge {
    position: relative;
    width: 210px;
    height: 280px;
    border: 4px solid #a1a5a8;
    border-radius: 20px;
    margin: 0 auto 50px; }
    @media screen and (max-width: 40em) {
      #first #illustration #badge {
        width: 140px;
        height: 190px;
        border-width: 3px;
        border-radius: 15px; } }
    #first #illustration #badge .cutout {
      width: 30px;
      height: 30px;
      border: 3px solid #a1a5a8;
      position: absolute;
      top: 15px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      border-radius: 100%; }
      @media screen and (max-width: 40em) {
        #first #illustration #badge .cutout {
          top: 10px;
          width: 16px;
          height: 16px;
          border-width: 2px; } }
    #first #illustration #badge .cord {
      border-radius: 3px;
      width: 5px;
      height: 400px;
      background: #a1a5a8;
      position: absolute;
      top: 30px;
      left: 50%;
      -webkit-transform: translate(-50%, -100%);
      -moz-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
      -o-transform: translate(-50%, -100%);
      transform: translate(-50%, -100%); }
      @media screen and (max-width: 40em) {
        #first #illustration #badge .cord {
          width: 4px;
          top: 20px; } }
    #first #illustration #badge .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
      #first #illustration #badge .logo img {
        width: 70px;
        height: auto; }
        @media screen and (max-width: 40em) {
          #first #illustration #badge .logo img {
            width: 50px; } }
    #first #illustration #badge .line {
      border-radius: 3px;
      background: #a1a5a8;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); }
    #first #illustration #badge .line-1 {
      border-radius: 3px;
      height: 5px;
      width: 120px;
      bottom: 50px; }
      @media screen and (max-width: 40em) {
        #first #illustration #badge .line-1 {
          height: 4px;
          width: 80px;
          bottom: 40px; } }
    #first #illustration #badge .line-2 {
      border-radius: 3px;
      height: 4px;
      width: 80px;
      bottom: 32px; }
      @media screen and (max-width: 40em) {
        #first #illustration #badge .line-2 {
          height: 3px;
          width: 60px;
          bottom: 28px; } }
  #first #illustration h1 {
    text-align: center;
    font-size: 2.375rem;
    line-height: 1em;
    color: #a1a5a8;
    font-weight: 500;
    margin: 0 0 10px;
    text-transform: uppercase;
    white-space: nowrap; }
    @media screen and (max-width: 40em) {
      #first #illustration h1 {
        font-size: 1.75rem; } }
    #first #illustration h1 span {
      width: 6px;
      height: 6px;
      display: inline-block;
      vertical-align: top;
      background: #919597;
      border-radius: 100%;
      margin: 0 8px;
      position: relative;
      top: 17px; }
      @media screen and (max-width: 40em) {
        #first #illustration h1 span {
          width: 4px;
          height: 4px;
          top: 12px; } }
  #first #illustration h2 {
    text-align: center;
    font-size: 1.125rem;
    color: #a1a5a8;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 40px;
    white-space: nowrap; }
    @media screen and (max-width: 40em) {
      #first #illustration h2 {
        font-size: 0.875rem; } }
    #first #illustration h2 span {
      width: 4px;
      height: 4px;
      display: inline-block;
      vertical-align: top;
      background: #919597;
      border-radius: 100%;
      margin: 0 10px;
      position: relative;
      top: 8px; }
      @media screen and (max-width: 40em) {
        #first #illustration h2 span {
          margin: 0 6px;
          width: 3px;
          height: 3px;
          top: 6px; } }
  #first #illustration h4 {
    text-align: center;
    font-size: 1.125rem;
    color: #919597;
    font-weight: 500;
    margin: 0;
    text-transform: uppercase; }
  #first #become-a-sponsor {
    color: #20b9f1;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1em;
    position: absolute;
    top: 45%;
    left: 50%;
    white-space: nowrap;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    #first #become-a-sponsor:before {
      height: 5px;
      width: 120%;
      position: absolute;
      bottom: -10%;
      left: 0;
      background: #a1a5a8;
      border-radius: 3px;
      content: ""; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #first #become-a-sponsor:before {
          width: auto;
          left: -20px;
          right: -20px;
          height: 4px; } }
      @media screen and (max-width: 40em) {
        #first #become-a-sponsor:before {
          width: auto;
          left: -20px;
          right: -20px;
          height: 3px; } }
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
      #first #become-a-sponsor {
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        top: auto;
        bottom: 15%;
        text-align: center;
        font-size: 3rem; } }
    @media screen and (max-width: 40em) {
      #first #become-a-sponsor {
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        top: auto;
        bottom: 15%;
        left: 50%;
        text-align: center;
        font-size: 2.25rem; } }

section .wrapper {
  padding: 200px 0; }
  @media screen and (min-width: 64em) and (max-width: 75em) {
    section .wrapper {
      padding: 150px 0; } }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    section .wrapper {
      padding: 100px 0; } }
  @media screen and (max-width: 40em) {
    section .wrapper {
      padding: 50px 5%; } }

#about {
  position: relative;
  background: white;
  z-index: 2000; }
  #about .row {
    display: block; }
    #about .row::after {
      clear: both;
      content: "";
      display: table; }
    #about .row .left.column {
      float: left;
      display: block;
      margin-right: 5%;
      width: 38.75%; }
      #about .row .left.column:last-child {
        margin-right: 0; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #about .row .left.column {
          width: 100%; } }
      @media screen and (max-width: 40em) {
        #about .row .left.column {
          width: 100%; } }
    #about .row .right.column {
      float: left;
      display: block;
      margin-right: 5%;
      width: 47.5%;
      margin-left: 8.75%; }
      #about .row .right.column:last-child {
        margin-right: 0; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #about .row .right.column {
          width: 100%;
          margin-left: 0%; } }
      @media screen and (max-width: 40em) {
        #about .row .right.column {
          width: 100%;
          margin-left: 0%; } }

h1 {
  line-height: 1.1em;
  font-size: 1.875rem;
  font-weight: 300;
  margin: 0 0 2em;
  color: #20b9f1;
  text-transform: uppercase; }

h3 {
  font-size: 1.375em;
  line-height: 1.1em;
  font-weight: 300;
  color: #a1a5a8;
  text-transform: uppercase;
  margin-bottom: 20px; }

.intro {
  font-size: 1.5rem;
  font-weight: 300;
  color: #464a4c;
  margin-bottom: 60px; }

.paragraph {
  margin-bottom: 3em; }

#quote {
  background: #20b9f1;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300; }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #quote br {
      display: none; } }
  @media screen and (max-width: 40em) {
    #quote br {
      display: none; } }

#facts {
  background: #a1a5a8; }
  #facts .wrapper .row {
    display: block; }
    #facts .wrapper .row::after {
      clear: both;
      content: "";
      display: table; }
    #facts .wrapper .row .column {
      color: #fff;
      text-align: center;
      font-weight: 300;
      float: left;
      width: 20%; }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #facts .wrapper .row .column {
          width: 33%;
          margin-bottom: 40px; } }
      @media screen and (max-width: 40em) {
        #facts .wrapper .row .column {
          width: 60%;
          margin: 0 20%;
          margin-bottom: 40px; } }
      @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        #facts .wrapper .row .column#number-of-attendees {
          margin-left: 16%; } }
      #facts .wrapper .row .column figure {
        margin: 0 auto 40px;
        width: 66%;
        position: relative; }
        #facts .wrapper .row .column figure img {
          display: block;
          width: 100%; }
      #facts .wrapper .row .column span {
        display: block; }
        #facts .wrapper .row .column span.big {
          font-size: 2em;
          line-height: 1.1em; }
        #facts .wrapper .row .column span.small {
          font-size: 1em; }

#packages .button-container {
  padding: 60px 0; }
  #packages .button-container .button {
    display: inline-block;
    font-size: 1.25em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1em;
    padding: 20px 30px;
    background: #20b9f1;
    color: #fff;
    border-radius: 4px; }
#packages .desktop.table-container {
  display: none; }
  @media screen and (min-width: 75em) {
    #packages .desktop.table-container {
      display: block; } }
  @media screen and (min-width: 64em) and (max-width: 75em) {
    #packages .desktop.table-container {
      display: block; } }
#packages .mobile.table-container {
  display: none; }
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
    #packages .mobile.table-container {
      display: block; } }
  @media screen and (max-width: 40em) {
    #packages .mobile.table-container {
      display: block; } }
  #packages .mobile.table-container table {
    table-layout: auto; }
  #packages .mobile.table-container .package-name {
    border-right-width: 2px !important;
    font-size: 1.25rem; }
    #packages .mobile.table-container .package-name .name {
      display: block; }
    #packages .mobile.table-container .package-name .price {
      display: block;
      color: #20b9f1; }
  #packages .mobile.table-container .feature td:nth-child(1) {
    width: 70% !important; }
  #packages .mobile.table-container .feature td:nth-child(2) {
    width: 30% !important;
    border-right-width: 2px !important; }

table {
  border-collapse: collapse;
  border-spacing: 0; }
  table td {
    border: 2px solid #e3e4e5;
    border-right-width: 0px !important;
    text-align: center;
    line-height: 1.1em;
    vertical-align: top;
    padding: 15px 0; }
    table td.no-border {
      border-width: 0px; }
    table td.border-right {
      border-right-width: 2px !important; }
    table td.package {
      width: 150px; }
      @media screen and (min-width: 64em) and (max-width: 75em) {
        table td.package {
          width: 120px; } }
      table td.package span {
        display: block;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.3em; }
        table td.package span.name {
          color: #464a4c; }
        table td.package span.price {
          color: #20b9f1; }
    table td.yes {
      background: url(../img/tick.svg) no-repeat center 14px;
      background-size: 24px auto; }
    table td.label {
      text-align: left;
      padding-left: 10px; }
    table td .small {
      font-size: 0.75em;
      margin-top: 36px;
      line-height: 1em;
      display: block;
      color: #a1a5a8; }
    table td .learn-more {
      white-space: nowrap;
      background: #a1a5a8;
      color: #fff;
      text-transform: uppercase;
      font-size: 11px;
      line-height: 1em;
      padding: 2px 6px;
      font-weight: 600;
      border-radius: 2px;
      vertical-align: middle; }

nav#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5a6268;
  z-index: 6000; }
  nav#overlay #close-menu-link {
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50px;
    right: 50px;
    background: #5a6268 url(../img/close-menu.svg) no-repeat center center;
    background-size: cover;
    z-index: 5000;
    cursor: pointer;
    border: 2px solid #5a6268;
    border-radius: 100%;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    transition: 0.5s all; }
    nav#overlay #close-menu-link:hover {
      border: 2px solid #fff;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      transition: 0.5s all; }
  nav#overlay .content {
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block; }
    nav#overlay .content figure {
      display: block;
      text-align: center;
      margin-bottom: 30px; }
      nav#overlay .content figure img {
        width: 100px;
        display: inline; }
    nav#overlay .content ul li {
      display: block; }
      nav#overlay .content ul li a {
        display: block;
        color: #fff;
        padding: 10px;
        text-transform: uppercase;
        font-size: 1.5em;
        font-weight: 300;
        text-align: center; }
        nav#overlay .content ul li a:hover {
          text-decoration: underline; }
      nav#overlay .content ul li:last-child {
        margin-top: 30px; }

#contact {
  background: #a1a5a8; }
  #contact .wrapper {
    color: #fff;
    text-align: center; }
    #contact .wrapper p {
      font-size: 1.25em; }
      #contact .wrapper p a {
        font-size: 1.5em;
        display: block;
        color: #fff;
        text-decoration: underline; }
    #contact .wrapper ul {
      margin-top: 100px; }
      @media screen and (max-width: 40em) {
        #contact .wrapper ul {
          margin-top: 20px;
          margin-bottom: 100px; } }
      #contact .wrapper ul li {
        display: inline-block;
        margin: 10px; }
        #contact .wrapper ul li a {
          display: block;
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 100%;
          border: 2px solid #a1a5a8;
          -webkit-transition: 0.5s all;
          -moz-transition: 0.5s all;
          transition: 0.5s all; }
          #contact .wrapper ul li a:hover {
            border: 2px solid white;
            -webkit-transition: 0.5s all;
            -moz-transition: 0.5s all;
            transition: 0.5s all; }
        #contact .wrapper ul li img {
          display: block;
          width: 80px;
          height: 80px; }
  #contact #copy {
    position: absolute;
    bottom: 50px;
    color: #464a4c;
    font-size: 0.75em;
    font-weight: 400;
    text-transform: uppercase; }
    #contact #copy a {
      color: #464a4c;
      text-decoration: underline; }
  #contact #copy {
    left: 50px; }
  #contact #true {
    right: 50px; }

@media all {
  .page-break {
    display: none; } }
@media print {
  .page-break {
    display: block;
    page-break-before: always; }

  .fixed {
    display: none; }

  header #headline {
    top: 70%;
    width: 60%; }

  header #main {
    left: 76%; }

  header #main ul {
    display: none; } }
